.gallery img{
    display: none;
}

.bar img{
    display: none;
}

.footer img{
    display: none;
}

.slider img{
    display: none;
}

.spots_img1{
    display: none;
}

.spots_img2{
    display: none;
}


.back img{
    display: none;
}

.back1 img{
    display: none;
}

.back2 img{
    display: none;
}

.back3 img{
    display: none;
}